<!DOCTYPE HTML>
<html>
	<head>
		<title>Covid-19-Detection</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/Alluvial.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
		<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
	</head>
	<body class="is-preload">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/home">Covid19 Diagnosis</a>
			<button
			  class="navbar-toggler"
			  type="button"
			  data-toggle="collapse"
			  data-target="#navbarNavAltMarkup"
			  aria-controls="navbarNavAltMarkup"
			  aria-expanded="false"
			  aria-label="Toggle navigation"
			>
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse " id="navbarNavAltMarkup">
			  <div class="navbar-nav ml-auto">
				<a class="nav-item nav-link mr-3 " href="/about">About
				</a>
				<a class="nav-item nav-link mr-3 " href="/data">Data Visualization
				</a>
				
				
				
			  </div>
			</div>
		  </nav>
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1 style="color: brown;">Diagnoise Type : Covid19 </h1>
						<h2>The given input Image is recognize  as Abnormal, which result the patient is suffering from Covid Virus. </h2>
						
					</br>
	
					
					</header>

				<!-- Footer -->
					<footer id="footer">
						&copy; Copyright Mbedtech 2021

					</footer>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>